<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Delanta Test</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="messages" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="users" class="nav-link">Users</a>
      </li>
      <!--<button class="brand nav-item badge badge-success">
        <a routerLink="add" class="nav-link"> + Add Message</a>
      </button>-->
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>